@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap");
h1 {
  font-family: "Nunito", sans-serif;
  font-size: clamp(1.7rem, 13vw, 6rem);
  padding: 10px 0px;
  transition: all 0.5s ease;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: clamp(1.4rem, 10vw, 4.8rem);
  padding: 10px 0px;
  transition: all 0.5s ease;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: clamp(1.2rem, 8vw, 3.9rem);
  padding: 10px 0px;
  transition: all 0.5s ease;
}

h4 {
  font-family: "Nunito", sans-serif;
  font-size: clamp(1rem, 6vw, 2.7rem);
  padding: 10px 0px;
  transition: all 0.5s ease;
}

h5 {
  font-family: "Nunito", sans-serif;
  font-size: clamp(0.8rem, 4vw, 2rem);
  padding: 10px 0px;
  transition: all 0.5s ease;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: #ff5858;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #e5dec8, #fefbf2);
  background-attachment: fixed;
  background-size: cover;
}
body section {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.pre_loader_div {
  background: rgb(226, 226, 226) url(../../picture/preloader-2.gif) no-repeat center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 20px 0px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.navbar .navbar_div {
  position: relative;
  width: min(1500px, 98%);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar_div .logo {
  color: #141414;
  font-size: clamp(1.5rem, 9vw, 2rem);
  z-index: 999;
  transition: all 0.5s ease;
}
.navbar .navbar_div .nav_content li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}
.navbar .navbar_div .nav_content li a {
  font-size: 1.5rem;
  color: #232222;
  transition: all 0.5s ease;
}
.navbar .navbar_div .nav_content li a:hover {
  font-size: 1.6rem;
  color: #141414;
}
.navbar .navbar_div .nav_btn {
  display: none;
}
.navbar .navbar_div .nav_btn i {
  color: #232222;
  font-size: 1.5rem;
}

.navbar.add {
  background-color: #fefbf2;
  padding: 10px 0px;
}
.navbar.add .navbar_div .logo {
  font-size: clamp(1.5rem, 9vw, 1.8rem);
}
.navbar.add .navbar_div .nav_content li a {
  font-size: 1.3rem;
}
.navbar.add .navbar_div .nav_content li a:hover {
  font-size: 1.4rem;
}

@media (max-width: 930px) {
  .navbar .navbar_div {
    padding: 0% 2%;
  }
  .navbar .navbar_div .nav_content {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 30px 0px 0px 0px;
    left: -100%;
    top: 0;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    z-index: 998;
    transition: all 0.3s ease;
  }
  .navbar .navbar_div .nav_content li {
    margin: 10px;
    font-size: 1.8rem;
    text-align: center;
  }
  .navbar .navbar_div .nav_content.active {
    left: 0;
  }
  .navbar .navbar_div .nav_btn {
    display: block;
    z-index: 999;
  }
  .navbar .navbar_div .nav_btn i.active:before {
    content: "\f818";
  }
}
.home {
  width: 100%;
}
.home .home_content_div {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.home .home_content_div .home_content_hold {
  width: 100%;
  padding-left: 10vw;
  color: #232222;
  font-family: "Nunito", sans-serif;
}
.home .home_content_div .home_content_hold .intro_line_one {
  font-size: clamp(1.5rem, 8vw, 2.2rem);
}
.home .home_content_div .home_content_hold .intro_line_two {
  font-size: clamp(2.5rem, 13.5vw, 5rem);
}
.home .home_content_div .home_content_hold .intro_line_three {
  font-size: clamp(1rem, 6vw, 1.8rem);
}
.home .home_content_div .home_content_hold .intro_line_three .i_am {
  color: #fe7644;
}

@media (max-width: 670px) {
  .home_content_hold {
    padding-left: 5vw;
  }
}
.about_me {
  display: flex;
  width: 100%;
  align-items: center;
}
.about_me .about_me_one {
  display: flex;
  max-width: 1300px;
  margin: auto;
  align-items: center;
}
.about_me .about_me_one .about_me_content {
  width: 50%;
  padding: 2vw;
  color: #141414;
  font-family: "Nunito", sans-serif;
}
.about_me .about_me_one .about_me_content h4 {
  font-size: clamp(1.5rem, 8vw, 2.2rem);
  padding: 10px 0px;
  transition: all 0.5s ease;
}
.about_me .about_me_one .about_me_content p {
  font-size: clamp(0.8rem, 4.5vw, 1.1rem);
  letter-spacing: 0.5px;
  text-align: justify;
  transition: all 0.5s ease;
}
.about_me .about_me_one .about_me_content p span {
  font-size: clamp(0.7rem, 4.5vw, 1rem);
}
.about_me .about_me_one .about_me_content .social_links_pc {
  width: 100%;
  margin-top: 2.7vw;
}
.about_me .about_me_one .about_me_content .social_links_pc .social_links_ul {
  display: flex;
  align-items: center;
}
.about_me .about_me_one .about_me_content .social_links_pc .social_links_ul .social_links_li {
  list-style: none;
  margin-right: max(20px, 2vw);
}
.about_me .about_me_one .about_me_content .social_links_pc .social_links_ul .social_links_li a {
  color: #fe7644;
  font-size: clamp(1.3rem, 8vw, 1.8rem);
  transition: all 0.3s ease;
}
.about_me .about_me_one .about_me_content .social_links_pc .social_links_ul .social_links_li a:hover {
  color: #232222;
}
.about_me .about_me_one .about_me_img {
  width: 50%;
  padding: 2vw;
}
.about_me .about_me_one .about_me_img img {
  width: 100%;
  box-shadow: 0px 0px 10px rgba(102, 102, 102, 0.431372549);
}
.about_me .about_me_social {
  display: none;
}

@media (max-width: 930px) {
  .about_me_one {
    padding: 0% 1%;
  }
}
@media (max-width: 765px) {
  .about_me {
    flex-direction: column;
    height: auto;
    margin: 20% 0%;
  }
  .about_me .about_me_one {
    flex-direction: column;
    margin: 0%;
  }
  .about_me .about_me_one .about_me_content {
    width: 100%;
    padding: 6vw;
  }
  .about_me .about_me_one .about_me_content .social_links_pc {
    display: none;
  }
  .about_me .about_me_one .about_me_img {
    display: none;
  }
  .about_me .about_me_one .about_me_img img {
    width: min(96%, 400px);
    border-radius: 10px;
  }
  .about_me .about_me_social {
    display: block;
    width: 100%;
    padding: 5% 0%;
  }
  .about_me .about_me_social .social_links_m {
    display: flex;
    width: 80%;
    margin: auto;
  }
  .about_me .about_me_social .social_links_m .social_links_ul {
    background-color: #fe7644;
    display: flex;
    width: 100%;
    padding: 10px 0px;
    justify-content: space-evenly;
    border-radius: 15rem;
    align-items: center;
  }
  .about_me .about_me_social .social_links_m .social_links_ul .social_links_m_li {
    list-style: none;
  }
  .about_me .about_me_social .social_links_m .social_links_ul .social_links_m_li a {
    color: #ffffff;
    font-size: clamp(1.3rem, 8vw, 1.8rem);
    transition: all 0.3s ease;
  }
  .about_me .about_me_social .social_links_m .social_links_ul .social_links_m_li a:hover {
    color: #232222;
  }
}
@media (max-width: 460px) {
  .social_links_ul {
    padding: 3px 0px;
    justify-content: space-evenly;
  }
}
.projects {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.projects .project_hold {
  width: 100%;
}
.projects .project_hold .project_head {
  max-width: 1300px;
  margin: auto;
  text-align: center;
  padding: 0% 1.5% 3% 1.5%;
}
.projects .project_hold .project_head h3 {
  font-family: "Nunito", sans-serif;
  font-size: clamp(1.5rem, 8vw, 2.5rem);
}
.projects .project_hold .project_body {
  display: flex;
  max-width: 1500px;
  margin: auto;
  justify-content: space-evenly;
  text-align: center;
}
.projects .project_hold .project_body a {
  width: 26%;
  text-decoration: none;
  transition: 0.5s;
}
.projects .project_hold .project_body a:hover {
  width: 29%;
  transform: translateY(-15px);
  transform: translateZ(0);
}
.projects .project_hold .project_body a .project_item {
  font-family: "Nunito", sans-serif;
  background-color: #ffffff;
  border-radius: 0.9rem;
  transition: 0.5s;
}
.projects .project_hold .project_body a .project_item:hover {
  background-color: #fefbf2;
  box-shadow: 0px 0px 20px rgba(88, 88, 88, 0.431372549);
}
.projects .project_hold .project_body a .project_item:hover .project_link h5 {
  width: 45%;
  color: #ffffff;
  font-size: clamp(0.8rem, 4.5vw, 1.5rem);
  background-color: #fe7644;
}
.projects .project_hold .project_body a .project_item:hover P {
  line-height: 1.8rem;
  color: #141414;
  font-size: clamp(0.8rem, 4.5vw, 1.3rem);
}
.projects .project_hold .project_body a .project_item .project_item_img {
  display: flex;
  min-height: 250px;
  border-radius: 0.9rem 0.9rem 0rem 0rem;
  background-size: cover;
  align-items: center;
  justify-content: left;
}
.projects .project_hold .project_body a .project_item .project_item_img h4 {
  width: 100%;
  padding: 5%;
  text-align: center;
  color: #ffffff;
  font-size: clamp(1rem, 6vw, 2.5rem);
}
.projects .project_hold .project_body a .project_item .project_link {
  width: 100%;
  padding: 2px;
  margin-top: -23px;
}
.projects .project_hold .project_body a .project_item .project_link h5 {
  display: inline-block;
  width: 40%;
  margin: auto;
  padding: 10px 20px;
  border-radius: 2rem;
  color: #fe7644;
  font-size: clamp(0.8rem, 4.5vw, 1.3rem);
  background-color: #232222;
  box-shadow: 0px 0px 12px rgba(247, 240, 240, 0.2588235294);
  transition: 0.5s;
}
.projects .project_hold .project_body a .project_item .project_link h5:hover {
  box-shadow: 0px 0px 15px rgba(247, 240, 240, 0.4784313725);
}
.projects .project_hold .project_body a .project_item P {
  display: flex;
  min-height: 180px;
  margin: 0rem 0rem 4rem 0rem;
  padding: 0rem 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  text-align: center;
  align-items: center;
  color: #232222;
  font-size: clamp(0.8rem, 4.5vw, 1.1rem);
  transition: 0.5s;
}
.projects .project_hold .project_body a .project_one .project_item_img {
  background-image: url("../picture/back-black-1.jpg");
}
.projects .project_hold .project_body a .project_two .project_item_img {
  background-image: url("../picture/back-black-2.jpg");
}
.projects .project_hold .project_body a .project_three .project_item_img {
  background-image: url("../picture/back-black-3.jpg");
}

@media (max-width: 1300px) {
  .projects {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .projects .project_hold .project_body {
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    padding: 30px 0px;
    justify-content: center;
  }
  .projects .project_hold .project_body a {
    width: 95%;
    margin: auto;
  }
  .projects .project_hold .project_body a:hover {
    width: 97%;
  }
}
.contact_me {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.contact_me .contact_hold {
  display: flex;
  width: min(1300px, 85%);
  background-color: #fefbf2;
  border-radius: 0.9rem;
}
.contact_me .contact_hold form {
  width: 70%;
  padding-left: 2rem;
}
.contact_me .contact_hold form h3 {
  margin-bottom: 20px;
}
.contact_me .contact_hold form .contact_value {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.contact_me .contact_hold form .contact_value label {
  font-family: "Nunito", sans-serif;
  width: 100%;
}
.contact_me .contact_hold form .contact_value input {
  width: 80%;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(133, 133, 133);
  background-color: rgba(255, 0, 0, 0);
}
.contact_me .contact_hold form .contact_value input:hover {
  border-bottom: 1px solid rgb(99, 99, 99);
}
.contact_me .contact_hold form .contact_value input:focus {
  border-bottom: 1px solid rgb(54, 54, 54);
}
.contact_me .contact_hold form .contact_value textarea {
  width: 80%;
  height: 100px;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border: none;
  resize: none;
  border-bottom: 1px solid rgb(133, 133, 133);
  background-color: rgba(255, 0, 0, 0);
}
.contact_me .contact_hold form .contact_value textarea:hover {
  border-bottom: 1px solid rgb(99, 99, 99);
}
.contact_me .contact_hold form .contact_value textarea:focus {
  border-bottom: 1px solid rgb(54, 54, 54);
}
.contact_me .contact_hold form .c_message {
  margin-top: 40px;
}
.contact_me .contact_hold form input[type=submit] {
  width: 20%;
  margin: 1rem 1rem 2rem 0rem;
  padding: 7px 13px;
  color: #141414;
  background-color: #fe7644;
  border: none;
  border-radius: 1rem;
  font-size: 20px;
}
.contact_me .contact_hold .contact_hold_extra {
  display: flex;
  width: 30%;
  height: auto;
  background-size: cover;
  align-items: center;
  border-radius: 0 0.9rem 0.9rem 0;
  font-family: "Nunito", sans-serif;
}
.contact_me .contact_hold .contact_hold_extra ul {
  width: 100%;
  justify-content: space-evenly;
}
.contact_me .contact_hold .contact_hold_extra ul li {
  align-items: center;
  width: 80%;
  padding: 0.5rem;
  margin-left: -43px;
  margin-bottom: 2rem;
  list-style: none;
  color: #fefbf2;
  background-color: #232222;
  border-radius: 0.4rem;
  font-size: 1.7rem;
}

@media only screen and (max-width: 1200px) {
  .contact_me .contact_hold form input[type=submit] {
    width: 30%;
  }
  .contact_me .contact_hold .contact_hold_extra ul li {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .contact_me .contact_hold .contact_hold_extra ul li {
    margin-left: -35px;
  }
}
@media only screen and (max-width: 750px) {
  .contact_me .contact_hold form {
    width: 100%;
  }
  .contact_me .contact_hold form input[type=submit] {
    width: 40%;
  }
  .contact_me .contact_hold .contact_hold_extra {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .contact_me .contact_hold form {
    padding-right: 1.5rem;
  }
  .contact_me .contact_hold form .contact_value input {
    width: 100%;
  }
  .contact_me .contact_hold form .contact_value textarea {
    width: 100%;
  }
}
.pop_up {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(216, 191, 216, 0.514);
  font-family: "Nunito", sans-serif;
}
.pop_up .pop_up_content {
  max-width: 400px;
  padding: max(2%, 20px);
  border-radius: 0.9rem;
  background-color: #ffffff;
}
.pop_up .pop_up_content .pop_up_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pop_up .pop_up_content .pop_up_head p {
  left: 0;
  font-size: clamp(0.8rem, 4.5vw, 1.2rem);
}
.pop_up .pop_up_content .pop_up_head i {
  right: 0;
  margin-left: 30px;
  font-size: clamp(0.8rem, 4.5vw, 1.2rem);
}
.pop_up .pop_up_content .pop_up_link {
  display: flex;
  align-items: center;
}
.pop_up .pop_up_content .pop_up_link ul {
  display: block;
  padding: 25px 0px 0px 0px;
}
.pop_up .pop_up_content .pop_up_link ul li {
  display: inline-block;
  list-style: none;
  font-size: 2rem;
  padding: 10px 18px;
  margin: 0rem 1rem;
  border-radius: 2rem;
  background-color: rgb(219, 219, 219);
}
.pop_up .pop_up_content .pop_up_link ul li i {
  color: #fe7644;
  transition: all 0.9s ease;
}
.pop_up .pop_up_content .pop_up_link ul li i:hover {
  color: #232222;
}

.pop_up.active {
  display: flex;
}

@media (max-width: 500px) {
  .pop_up .pop_up_content .pop_up_link ul li {
    display: inline-block;
    list-style: none;
    font-size: 1.5rem;
    padding: 10px 15px;
    margin: 0rem 1rem;
    border-radius: 2rem;
    background-color: rgb(219, 219, 219);
  }
}
footer {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #ffffff;
}
footer .footer_div {
  margin: auto;
  padding: 20px 0px 10px 0px;
}
footer .footer_div h4 {
  font-family: "Nunito", sans-serif;
  font-size: clamp(0.9rem, 5vw, 1.2rem);
}

/*# sourceMappingURL=Main.css.map */
