@use "../assets"as *;

.contact_me {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    .contact_hold {
        display: flex;
        width: min(1300px, 85%);
        background-color: $color-white-dark;
        border-radius: 0.9rem;

        form {
            width: 70%;
            padding-left: 2rem;

            h3 {
                margin-bottom: 20px;
            }

            .contact_value {
                display: flex;
                position: relative;
                flex-direction: column;
                width: 100%;
                margin-bottom: 10px;

                label {
                    font-family: $fs-primary;
                    width: 100%;
                }

                input {
                    width: 80%;
                    padding: 0.5rem;
                    font-size: 1rem;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid rgb(133, 133, 133);
                    background-color: rgba(255, 0, 0, 0);

                    &:hover {
                        border-bottom: 1px solid rgb(99, 99, 99);
                    }

                    &:focus {
                        border-bottom: 1px solid rgb(54, 54, 54);
                    }

                }

                textarea {
                    width: 80%;
                    height: 100px;
                    padding: 0.5rem;
                    font-size: 1rem;
                    outline: none;
                    border: none;
                    resize: none;
                    border-bottom: 1px solid rgb(133, 133, 133);
                    background-color: rgba(255, 0, 0, 0);

                    &:hover {
                        border-bottom: 1px solid rgb(99, 99, 99);
                    }

                    &:focus {
                        border-bottom: 1px solid rgb(54, 54, 54);
                    }
                }
            }

            .c_message {
                margin-top: 40px;

            }

            input[type=submit] {
                width: 20%;
                margin: 1rem 1rem 2rem 0rem;
                padding: 7px 13px;
                color: $color-black;
                background-color: $color-red;
                border: none;
                border-radius: 1rem;
                font-size: 20px;
            }
        }

        .contact_hold_extra {
            display: flex;
            width: 30%;
            height: auto;
            background-size: cover;
            align-items: center;
            border-radius: 0 0.9rem 0.9rem 0;
            font-family: $fs-primary;

            ul {
                width: 100%;
                justify-content: space-evenly;

                li {
                    align-items: center;
                    width: 80%;
                    padding: 0.5rem;
                    margin-left: -43px;
                    margin-bottom: 2rem;
                    list-style: none;
                    color: $color-white-dark;
                    background-color: $color-gray;
                    border-radius: 0.4rem;
                    font-size: 1.7rem;

                    // a {
                    //     width: 100%;
                    //     padding: 7px;
                    //     border-radius: 50%;
                    //     color: $color-gray;
                    //     background-color: aqua;

                    //     i{
                    //         margin: 0;
                    //         padding: 0;
                    //     }
                    // }
                }

            }
        }
    }
}

@media only screen and (max-width: 1200px) {

    .contact_me {

        .contact_hold {

            form {
                input[type=submit] {
                    width: 30%;
                }
            }

            .contact_hold_extra {

                ul {

                    li {
                        width: 100%;
                    }

                }
            }
        }

    }
}

@media only screen and (max-width: 800px) {

    .contact_me {

        .contact_hold {

            .contact_hold_extra {

                ul {

                    li {
                        margin-left: -35px;
                    }

                }
            }
        }

    }
}

@media only screen and (max-width: 750px) {

    .contact_me {

        .contact_hold {

            form {
                width: 100%;

                input[type=submit] {
                    width: 40%;
                }
            }

            .contact_hold_extra {
                display: none;
            }
        }

    }
}

@media only screen and (max-width: 500px) {

    .contact_me {

        .contact_hold {

            form {
                padding-right: 1.5rem;

                .contact_value {

                    input {
                        width: 100%;
                    }

                    textarea {
                        width: 100%;
                    }
                }
            }

        }

    }
}