@use "../assets" as *;

.home {
    width: 100%;
    
    .home_content_div {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;

        .home_content_hold {
            width: 100%;
            padding-left: 10vw;
            color: $color-gray;
            font-family: $fs-primary;

            .intro_line_one {
                font-size: clamp(1.5rem, 8vw, 2.2rem);
            }

            .intro_line_two {
                font-size: clamp(2.5rem, 13.5vw, 5rem);
            }

            .intro_line_three {
                font-size: clamp(1rem, 6vw, 1.8rem);

                .i_am{
                    color: $color-red;
                }
            }
        }
    }
}

@media (max-width:670px) {
    .home_content_hold {
        padding-left: 5vw;
    }
}

