@use "../assets" as *;

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

::-webkit-scrollbar{
    display: none;
}

::selection {
   background: #ff5858;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #e5dec8, #fefbf2);
    background-attachment: fixed;
    background-size: cover;

    section {
        width: 100vw;
        height: 100vh;
        scroll-snap-align: start;
    }
}
